{%extends "layout.html" %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>SLED Hoops</title>

  </head>

{% block body %}

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('main') }}">SLED Hoops</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="{{ url_for('main') }}">Home</a></li>
            <li class="active"><a href="#about">About</a></li>
            <li><a href="http://blog.sledhoops.net">Blog</a></li>
            <li><a href="{{ url_for('headtohead') }}">Head to Head</a></li>
            <li><a href="{{ url_for('rankings') }}">Rankings</a></li>
            <li><a href="{{ url_for('detailedstats') }}">Detailed Stats</a></li>

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div class="container theme-showcase" role="main">
        <div class="jumbotron">
          <p>
          <p>SLED or "Stednick Logsdon Expected Difference" is an analytic tool for NCAA Men's basketball.
          Using a proprietary algorithm we attempt to rank each of the 350 NCAA D1 men's teams and pass those results to you.
          The below figure shows our accuracy against the spread over the course of the season.</p>
</div>

      <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="SLEDaccuracy.html"></iframe>
        </div>

<div class="container">
    <div class="col-lg-3">
      <table class="table table-striped">
        <thead>
          <tr><td><h2>Brought to you by</h2>
                <tbody>
                <tr><td>Professor SLED</tr>
                <tr><td>The Producer</tr>
                <tr><td>Mad Dog</tr>
                  </table>
                  With creative assistance from Roy the Rat
                  <br></br>
    <a class="twitter-follow-button"
    href="https://twitter.com/SLEDhoops"
      data-show-count="false"
        data-lang="en">
        Follow @SLEDhoops
      </a>
      <script type="text/javascript">
        window.twttr = (function (d, s, id) {
        var t, js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src= "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);
        return window.twttr || (t = { _e: [], ready: function (f) { t._e.push(f) } });
           }(document, "script", "twitter-wjs"));
      </script>

{% endblock %}

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  </body>
</html>
