{%extends "layout.html" %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>SLED Hoops</title>

  </head>

{% block body %}

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">SLED Hoops</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="http://sledhoops.net/blog">Blog</a></li>
            <li><a href="{{ url_for('headtohead') }}">Head to Head</a></li>
            <li><a href="{{ url_for('rankings') }}">Rankings</a></li>
            <li><a href="#detailedstats">Detailed Stats</a></li>

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <br></br>
    <br></br>
      <div class="col-xs-6">
        <h2 class="sub-header">Current Rankings</h2>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Rank</th>
                <th>Coaches Poll</th>
                <th>AP Poll</th>
                <th>SLED</th>
              </tr>
            </thead>
            <tbody>
            {% for entry in entries %}
              <tr>
                <td>{{ entry.Rank }}</td>
                <td>{{ entry.APPoll }}</td>
                <td>{{ entry.CoachesPoll }}</td>
                <td>{{ entry.SLEDMethod }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
    </div>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script>
      $('tr:has(td:contains("SLED"))').addClass('success');
      $('tr:has(td:contains("Spread"))').addClass('danger');
    </script>
  </body>
</html>
{% endblock %}
